<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830761229600-aot0kc959jv0feaj8tr88ujj9emttb6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830761229600-aot0kc959jv0feaj8tr88ujj9emttb6m</string>
	<key>API_KEY</key>
	<string>AIzaSyBj7BXWMFHGqJR54hZZwo-PdnwGrBirgd0</string>
	<key>GCM_SENDER_ID</key>
	<string>830761229600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.telegramClone</string>
	<key>PROJECT_ID</key>
	<string>telegram-clone-4aae2</string>
	<key>STORAGE_BUCKET</key>
	<string>telegram-clone-4aae2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830761229600:ios:febe491ab7992d600b0b45</string>
</dict>
</plist>